html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-size: 12px;
	overflow: hidden;
	text-align: center;
}

#container {
	width: 980px;
	height: 300px;
	background:url(../images/background.gif);
	margin:0 auto;
	margin-top:15%;
	border:1px solid #000;
	border-radius:15px;
	box-shadow: 5px 5px 5px #000;
}
#login {
	width: 100%;
	height: 100%;
	margin-top: 15px;
}

#title {
	font-size: 36px;
	font-family: '微软雅黑';
	color: #528bad;
}

#text input {
	width: 200px;
	height: 30px;
	background-color: #eee;
	border: 2px #1c1c1c solid;
	border-radius:5px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	padding:0 5px;
}

#text input:focus{
	background-color: #fff;
}

#btn input {
	width: 82px;
	height: 30px;
	border: 0px;
	background-image: url(../images/login.gif);
	cursor: hand;
}

#radio {
	margin-top: 15px;
}

#radio span {
	color: #354967;
	font-size: 18px;
	font-weight: bold;
}

#a {
	margin-top: 10px;
}

#a a {
	font-size: 13px;
	color: blue;
	text-decoration: underline;
	cursor: hand;
}

#error {
	padding-top: 8px;
}

#error span {
	font-size: 18px;
	font-weight: bold;
	color: #F00;
}

.inline {
	display: inline-block;
	vertical-align: middle;
}
.center {
	margin:10px auto;
}